/* =============
    Packages
============= */
@use "../helpers";

#packages {
  background-color: var(--lily);

  /* h1 {
    color: var(--nightblue);
  } */

  #packages-button-container {
    background-color: var(--white);
  }

  button {
    border: none;
  }

  #left {
    background-color: var(--white);
    color: var(--grey);
  }

  #right {
    background-color: var(--aqua);
    color: var(--white);
  }

  #package-card-container {
    .package-card {
      background-color: var(--ghost);
      border: 1px solid var(--white);
    }

    p {
      color: var(--nightblue);
      font-weight: 600;
      font-size: helpers.rem-calc(20);
      line-height: helpers.rem-calc(28);
    }

    h3 {
      color: var(--aqua);
      font-size: helpers.rem-calc(14);
      line-height: helpers.rem-calc(28);
      font-weight: 600;
    }

    h4 {
      color: var(--grey);
      font-size: helpers.rem-calc(14);
      line-height: helpers.rem-calc(28);
      font-weight: 600;
    }

    .selected {
      background-color: var(--white);
    }
  }
}
